/* Common css */

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #fd6e0a;
}

#main,
.container {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
}


/* header and navigation styles */

.header {
    background: #fff8f3;
    background: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.banner-img {
    transform: translate(130px, 0);
}

.primary-btn,
.secondary-btn {
    padding: 18px 35px;
    height: 64px;
    background: #fd6e0a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.secondary-btn {
    background: transparent;
    color: #fd6e0a;
    border: 2px solid #fd6e0a;
    margin-left: 30px;
}

.primary-btn i,
.secondary-btn i {
    margin-right: 10px;
}


/* header banner */

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}


/* header and navigation styles */

#about {
    background: #fff8f3;
    padding: 130px 150px;
    margin: 130px 0 0;
    border-radius: 10px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #474747;
}


/* what i do section styles */

#what-i-do {
    margin: 50px 0 130px 0;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 50px 0 0 0;
    padding: 30px
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin: 20px 0 20px 0;
}

.skills-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


/* Resume section style */

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-item {
    margin: 30px 0;
}

.resume-item .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item .sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-item .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}


/* contact style */

#contact {
    background: #FFF8F3;
    margin-top: 130px;
}

.contact {
    display: flex;
    gap: 100px;
    padding: 130px 0;
}

.contact .section-title {
    text-align: left;
}

.contact .section-description {
    text-align: left;
    margin-bottom: 30px;
}

.contact a {
    text-decoration: none;
}

.contact input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    height: 64px;
    margin-bottom: 24px;
    font-size: 16px;
    color: #757575;
    padding: 18px 30px;
}

textarea {
    height: 180px;
}